body {
  background-color: #454c4c;
  width: 70%;
  margin: auto;
}

canvas {
  background-color: white;
  display: block;
  margin: 50px auto 50px;
  box-shadow: 0 4px 0 0 #222;
  cursor: pointer;
}
#myCanvas {
  background-color: white;
  width: 500px;
  height: 500px;
}

#figures {
  text-align: center;
  margin-bottom: 50px;
  color: aliceblue;
}

input {
  width: 100px;
  margin-left: 5px;
  margin-right: 5px;
}

button {
  width: 250px;
  margin: 10px;
}
